assets/flows/new_maintenance.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assign_values_to_var_maint</name>
        <label>assign values to var maint</label>
        <locationX>173</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>var_maintanace.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Service__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_maintanace.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_maintanace.Scheduled_maintenance_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_nextDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_Maintenance</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>var_nextDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <interviewLabel>new maintenance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>new maintenance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_Maintenance</name>
        <label>create new Maintenance</label>
        <locationX>471</locationX>
        <locationY>346</locationY>
        <inputAssignments>
            <field>Maintenance_status__c</field>
            <value>
                <stringValue>Waiting _or_maintenance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_maintenance_date__c</field>
            <value>
                <elementReference>var_nextDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>var_maintanace.Service__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>var_maintanace.Vehicle__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Maintance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>47</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>assign_values_to_var_maint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>At Service</stringValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_maintanace</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintance__c</objectType>
    </variables>
</Flow>
